# TeX files
*.aux
*.toc
*.idx

# Documents with complex format
*.dvi
*.pdf

# Log files
*.log
*.tmp

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


