# TeX files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

# Documents with complex format
*.dvi
*.pdf

# Log files
*.log
*.tmp

# Compiled Object files
*.slo
*.lo
*.o

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

## Python about
*.py[cod]

# Django
*.log
*.pot
*.pyc
local_settings.py

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vim temp.
*.swp
*.sw*
*.*~

# Thumbs.db
Thumbs.db

# Java
*.class

