h1 {
    border: 0;
    margin: 0;
}

#slideshow img {
    height: 400px;
}

#resume {
    background-color: lightblue;
    cursor: pointer;
}

#pause {
    background-color: pink;
    cursor: pointer;
}